.alert {
  position: fixed;
  width: 95%;
  max-width: 900px;
  height: max-content;
  border-radius: $border-radius;
  background-color: var(--bg-alert);
  color: var(--text-color);
  transition: background-color linear 200ms, color linear 200ms;
  left: 50%;
  bottom: 0.5em;
  padding: 0.5em;
  font-size: $fs-body;
  word-break: break-all;
  z-index: 1000;
  transform: translateX(-50%);
  text-align: center;
}