.dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    --rp-color: var(--ripple-color);
    --rp-transition: 200;
  }

  &__menu {
    position: absolute;
    display: none;
    width: 250px;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 1em;
    z-index: 1000;
    & li {
      width: 100%;
      height: 40px;
      cursor: pointer;
      border-radius: 1em;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      --rp-color: var(--ripple-color);
      --rp-transition: 200;
    }
    & h6 {
      color: $primary;
    }
  }
}