.output-input {
  display: flex;
  justify-content: flex-end;
  @media (orientation: landscape) {
    grid-row: 1;
    grid-column: 2;
  }
  & .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    & .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
      overflow-y: auto;

      input[type='text'] {
        height: 50%;
        width: 100%;
        outline: none;
        display: flex;
        background-color: transparent;
        border: none;
        box-shadow: none;
        text-align: end;
        user-select: auto;
        -moz-user-select: auto;
        -webkit-user-select: auto;
        -ms-user-select: auto;
        padding-right: 0.5em;
        &#input-result {
          font-size: 2.5em;
          @media (orientation: landscape) {
            font-size: 2em;
          }
          @media (max-height: 450px) {
            display: none;
          }
        }
        &#input-expression {
          font-size: 3em;
          @media (orientation: landscape) {
            font-size: 2.5em;
          }
          @media (max-height: 450px) {
            height: 100%;
          }
        }
      }
      textarea[type='text'] {
        resize: none;
        height: 45%;
        width: 100%;
        outline: none;
        display: flex;
        background-color: transparent;
        border: none;
        box-shadow: none;
        text-align: end;
        user-select: auto;
        -moz-user-select: auto;
        -webkit-user-select: auto;
        -ms-user-select: auto;
        padding-right: 0.5em;
        &#input-result {
          font-size: 2.5em;
          @media (orientation: landscape) {
            font-size: 2em;
          }
          @media (max-height: 450px) {
            display: none;
          }
        }
        &#input-expression {
          font-size: 2.5em;
          @media (orientation: landscape) {
            font-size: 2.3em;
          }
          @media (max-height: 450px) {
            height: 100%;
          }
        }
      }
    }
  }
}
