* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

svg {
  pointer-events: none;
  width: 18px;
  height: 18px;
  & > * {
    transition: fill linear 200ms, stroke linear 200ms;
  }
  & > g path {
    transition: fill linear 200ms, stroke linear 200ms;
  }
}


body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: background-color linear 200ms;
  @media (max-height: 450px) {
    height: 100vh;
  }
  @include theme-colors($light-theme: true);
  & #app {
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-rows: 29% 70%;
    row-gap: 1%;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color linear 200ms;
    & input {
      transition: color linear 200ms;
    }
  }
}

body.dark-mode {
  @include theme-colors($light-theme: false);
}

@media (orientation: landscape) {
  body #app {
    grid-template-columns: 29% 69%;
    column-gap: 2%;
  }
}