$text-light: rgb(0, 0, 0);
$text-dark: rgb(255, 255, 255);
$primary: rgb(131, 56, 236);
$border: 0.1em solid rgba(0, 0, 0, 0.2);
$active-bg: $primary;
$active-circle: rgb(255, 255, 255);
$unactive-bg: rgb(150, 150, 150);
$unactive-circle: rgb(200, 200, 200);
// typography
$fs-body: 1.1em;
$text-h1: 1.8em;
$text-h2: 1.6em;
$text-h3: 1.4em;
$text-h4: 1.2em;
$text-h5: 1em;
$text-h6: 0.8em;
$text-primary: rgb(131, 56, 236);
$icon-color: #000000;
$border-radius: 1em;

:root {
  --primary: 131, 56, 236;
}

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    --bg-color: rgb(255, 255, 255);
    --bg-card: rgb(245, 245, 245);
    --bg-dropdown: rgb(245, 245, 245);
    --bg-navbar: rgb(235, 235, 235);
    --text-color: rgb(0, 0, 0);
    --text-primary: rgb(131, 56, 236);
    --ripple-color: rgba(0, 0, 0, 0.1);
    --bg-alert: rgb(215, 215, 215);
  }

  @else {
    --bg-color: rgb(40, 40, 40);
    --bg-card: rgb(50, 50, 50);
    --bg-dropdown: rgb(50, 50, 50);
    --bg-navbar: rgb(60, 60, 60);
    --text-color: rgb(255, 255, 255);
    --text-primary: rgb(131, 56, 236);
    --ripple-color: rgba(255, 255, 255, 0.1);
    --bg-alert: rgb(80, 80, 80);
  }
}